/* @import 'reset.css'; */
@import 'container.css';
@import 'navbar.css';
@import 'header.css';
@import 'titles.css';
@import 'button.css';
@import 'social.css';
@import 'slider.css';
@import 'card-project.css';
@import 'project.css';
@import 'exercise.css';
@import 'modal.css';
@import 'footer.css';
@import 'contact.css';
@import 'media/768px.css';
@import 'media/1024px.css';

:root {
  --gradient: linear-gradient(117.35deg, #303C78 0%, #1B2B66 20.52%, #161D52 43.34%, #101454 64.36%, #030234 99.97%);
  --back-color: #04013F;
  --color-primary: #121494;
  --color-primary-hover: #123094;
  --color-secondary: #2F2D61;
  --color-text: #CACAFF;
  --color-ligth: #D1D1EA;
  --shadow : 8px 8px 5px 0px rgba(1, 4, 13, 0.5);
  --shadow-small : 5px 5px 5px 0px rgba(1, 4, 13, 0.5);
  --inner-shadow: 4px 4px 2px 0px rgba(1, 4, 13, 0.5) inset;
  --inner-shadow-onfocus: 6px 6px 2px 0px rgba(1, 4, 13, 0.5) inset;

  font-family: 'Chakra Petch', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}