<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Eduardo Gutierrez|Proyectos</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="nav-bar nav-bar_pos_static">
    <button class="burger nav-bar__burger" id="burger"><img src="./images/menu-ham.svg" alt=""></button>
    <ul class="nav-bar__modal" id="nav-bar__modal">
      <li class="nav-bar__item"><a href="/" class="nav-bar__link">Inicio</a></li>
      <li class="nav-bar__item"><a href="/#proyectos" class="nav-bar__link">Proyectos</a></li>
      <li class="nav-bar__item"><a href="/#ejercisios" class="nav-bar__link">Ejercisios</a></li>
      <li class="nav-bar__item"><a href="" class="nav-bar__link">Sobre Mi</a></li>
      <li class="nav-bar__item"><a href="#contacto" class="nav-bar__link">Contacto</a></li>
    </ul>
  </nav>
  <article class="project" id="project">
    <h1 class="title project__title"></h1>
    <div class="card project__card_margin_top">
      <div class="container-slider card__slider">
        <div class="slider" id="slider">
          <img class="slider__img" src="" alt="">
          <img class="slider__img" src="" alt="">
          <img class="slider__img" src="" alt="">
        </div>
        <button class="slider__next" id="right"><img src="./images/right.svg" alt=""></button>
        <button class="slider__pre"  id="left"><img src="./images/left.svg" alt=""></button>
      </div>
      <p class="card__text card__text_size_full"></p>
      <a class="button card__button" target="_blank">Visitar</a>
    </div>
    <div class="project__button-container">
      <button class="button button__page">1</button>
      <button class="button button__page">2</button>
      <button class="button button__page">3</button>
      <button class="button button__page">4</button>
    </div>
  </article>
  <footer class="footer container">
    <h2 class="title author"><a href="/">Eduardo Gutierrez</a></h2>
    <nav class="social footer__social">
      <a href="https://linkedin.com/in/eduardogutierrezfl/" class="social__network" target="_blank"><img src="./images/linkedin.svg" alt=""></a>
      <a href="https://www.instagram.com/eduardo.gutzfl/" class="social__network" target="_blank"><img src="./images/instagram.svg" alt=""></a>
      <a href="https://github.com/Eduardo-gutz/" class="social__network" target="_blank"><img src="./images/github.svg" alt=""></a>
      <!-- <a href="" class="social__network"><img src="./images//facebook.svg" alt=""></a> -->
    </nav>
    <!-- <a class="button footer__button" href="" id="contact">Contactame</a> -->
    <ul class="footer__contact">
      <li id="contacto">Contactame</li>
      <li class="footer__copy" id="Numero">+51 246 168 41 74</li>
      <li class="footer__tooltip" id="tooltip"></li>
      <li class="footer__copy" id="E-mail">eduardogutzfl@gmail.com</li>
    </ul>
    <p class="copyright">copyrigth</p>
  </footer>
  </footer>
</body>
</html>