<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eduardo Gutierrez - poryecto</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
  <nav class="nav-bar nav-bar_pos_static">
    <button class="burger nav-bar__burger" id="burger"><img src="../images/menu-ham.svg" alt=""></button>
    <ul class="nav-bar__modal" id="nav-bar__modal">
      <li class="nav-bar__item"><a href="../index.html" class="nav-bar__link">Inicio</a></li>
      <li class="nav-bar__item"><a href="../index.html#proyects" class="nav-bar__link">Proyectos</a></li>
      <li class="nav-bar__item"><a href="../index.html#exercise" class="nav-bar__link">Ejercisios</a></li>
      <li class="nav-bar__item"><a href="" class="nav-bar__link">Sobre Mi</a></li>
      <li class="nav-bar__item"><a href="" class="nav-bar__link">Contacto</a></li>
    </ul>
  </nav>
  <article class="proyect">
    <h1 class="title proyect__title">Tarjeta de Preguntas Frecuentes</h1>
    <div class="card proyect__card_margin_top">
      <div class="container-slider card__slider">
        <div class="slider" id="slider">
          <img class="slider__img" src="../images/faq_accordion_desktop.png" alt="">
          <img class="slider__img" src="../images/faq_accordion_ipad.png" alt="">
          <img class="slider__img" src="../images/faq_accordion_ mobile.png" alt="">
        </div>
        <button class="slider__next" id="right">&#62</button>
        <button class="slider__pre"  id="left">&#60</button>
      </div>
      
      <!-- <progress max="100" value="60">60%</progress> -->
      <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem est enim ipsam soluta officiis dicta. Optio, magni? Fuga, incidunt! Nobis dolor minima omnis, doloremque vel quisquam dolorum fugiat. At dolorum officia ullam voluptatem ipsam, explicabo, dignissimos quasi in possimus vero minima tempora architecto modi nostrum temporibus, corporis obcaecati quis odio.</p>
    </div>
  </article>
  
  <script src='../js/index.js' type="module"></script>
</body>
</html>