.button {
  padding: .5rem 2.5rem;
  background-color: var(--color-primary);
  border-radius: .6rem;
  max-width: fit-content;
  box-shadow: 5px 5px 5px rgba(1, 4, 13, 0.5);
  color: var(--color-text);
  transition: all .2s ease-in;
}

.button:hover {
  background-color: var(--color-primary-hover);
  transform: scale(1.02);
  box-shadow: 8px 8px 5px rgba(1, 4, 13, 0.5);
}

.button_secondary {
  background-color: var(--color-secondary);
}