.card {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  width: 90%;
  max-width: 990px;
  height: auto;
  background-image: var(--gradient);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  align-items: center;
  padding: 5%;

  /* margin: 6rem auto 2rem; quitar despues provicional */
}
.card__title {
  margin: 1.9rem auto;
  line-height: 100%;
  font-size: 1.5rem;
}
.card__preview {
  display: flex;
  width: 49%;
  justify-content: flex-start;
  transform: translateY(-70%) scale(2);
}
.card__img-desktop {
  width: 88%;
  filter: drop-shadow(8px 8px 5px #01040d80);
}
.card__img-mobile {
  width: 24%;
  transform: translate3d(-50%, 20%, 0);
  box-shadow: var(--shadow);
}
.card__details {
  max-width: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card__text {
  margin-bottom: 2rem;
}
.card__text_size_full {
  min-width: 90%;
}
.card__button {
  margin: 0 1rem 1rem;
}
.card__slider {
  width: 50%;
  max-width: 24rem;
  height: calc(45vw);
  max-height: 14rem;
  margin-bottom: 5%;

  transform: translateY(-50%) scale(2);
}
@media screen and (min-width: 767px) {
  .card__slider {
    height: calc(37vw / 1.7);
  }
}
@media screen and (min-width: 1023px) {
  .card__slider {
    height: calc(37vw / 1.9);
  }
}