.frame {
    display: flex;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: blue;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.square {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    transform-style: preserve-3d;;
}
.s1 {animation: s1 5s ease-in-out  infinite;}
.s2 {animation: s2 5s ease-in-out  infinite;}
.s3 {animation: s3 5s ease-in-out  infinite;}
.s4 {animation: s4 5s ease-in-out  infinite;}
.s5 {animation: s5 5s ease-in-out  infinite;}
.s6 {animation: s6 5s ease-in-out  infinite;}
.s7 {animation: s7 5s ease-in-out  infinite;}
.s8 {animation: s8 5s ease-in-out  infinite;}
.s9 {animation: s9 5s ease-in-out  infinite;}
.s10{animation: s10 5s ease-in-out infinite;}
.s11{animation: s11 5s ease-in-out infinite;}
.s12{animation: s12 5s ease-in-out infinite;}
.s13{animation: s13 5s ease-in-out infinite;}
.s14{animation: s14 5s ease-in-out infinite;}
.s15{animation: s15 5s ease-in-out infinite;}

@keyframes s1 {45%, 55%{border-radius: 50%; transform: rotateZ(0deg) rotateY(70deg);}}
@keyframes s2 {45%, 55%{border-radius: 50%; transform: rotateZ(12deg) rotateY(70deg);}}
@keyframes s3 {45%, 55%{border-radius: 50%; transform: rotateZ(24deg) rotateY(70deg);}}
@keyframes s4 {45%, 55%{border-radius: 50%; transform: rotateZ(36deg) rotateY(70deg);}}
@keyframes s5 {45%, 55%{border-radius: 50%; transform: rotateZ(48deg) rotateY(70deg);}}
@keyframes s6 {45%, 55%{border-radius: 50%; transform: rotateZ(60deg) rotateY(70deg);}}
@keyframes s7 {45%, 55%{border-radius: 50%; transform: rotateZ(72deg) rotateY(70deg);}}
@keyframes s8 {45%, 55%{border-radius: 50%; transform: rotateZ(84deg) rotateY(70deg);}}
@keyframes s9 {45%, 55%{border-radius: 50%; transform: rotateZ(96deg) rotateY(70deg);}}
@keyframes s10 {45%, 55%{border-radius: 50%; transform: rotateZ(108deg) rotateY(70deg);}}
@keyframes s11 {45%, 55%{border-radius: 50%; transform: rotateZ(120deg) rotateY(70deg);}}
@keyframes s12 {45%, 55%{border-radius: 50%; transform: rotateZ(132deg) rotateY(70deg);}}
@keyframes s13 {45%, 55%{border-radius: 50%; transform: rotateZ(144deg) rotateY(70deg);}}
@keyframes s14 {45%, 55%{border-radius: 50%; transform: rotateZ(156deg) rotateY(70deg);}}
@keyframes s15 {45%, 55%{border-radius: 50%; transform: rotateZ(168deg) rotateY(70deg);}}